<li style="position: relative; display: inline-block;">
    <a href="javascript:void(0);" class="button button-icon-only btn-translate-custom" title="Traduzir este post" onclick="abrirTradutor(this)">
        <i class="icon fa-language fa-fw" aria-hidden="true"></i>
    </a>
    <a href="javascript:void(0);" class="button button-icon-only btn-reset-custom" title="Voltar ao idioma original" onclick="resetarTradutor(this)">
        <i class="icon fa-undo fa-fw" aria-hidden="true"></i>
    </a>
    <div class="gtranslate_wrapper"></div>
</li>